@import "../../styles/color.scss";

@mixin isdone($style: false) {
  @if $style {
    color: $black-shadows;
    text-decoration: line-through;
  }
}

.todo-list-item {
  display: flex;

  p:hover {
    color: $ultramarine-blue;
  }
}

.todo-is-done {
  @include isdone($style: true);
}

.container {
  display: block;
  margin-block: 0.6em;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-mark {
  position: absolute;
  border-radius: 6em;
  border: 1px solid $black-shadows;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $white;
}

.is-done-check {
  position: absolute;
  border-radius: 6em;
  border: 1px solid $black-shadows;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $white;
}

.container:hover input ~ .check-mark {
  background-color: $timberwolf;
}

.container input:checked ~ .is-done-check {
  background-color: $jungle-green;
}

.is-done-check:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .is-done-check:after {
  display: block;
}

.container .is-done-check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid $white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
