@import "../../styles/color.scss";
@import "../../styles//variables.scss";

.todo-container {
  display: flex;
  justify-content: flex-start;
  min-width: $md;
  min-height: $sm;
  border: 1px solid $timberwolf;
  background-color: $white;
  border-radius: 1rem;

  .todo-item {
    margin-inline: 4rem;

    h3 {
      color: $oxford-blue;
      font-size: 2em;
    }

    .item-check-status {
      display: flex;
      justify-content: space-between;
      color: $black-shadows;
      border-top: 1px solid $timberwolf;
      padding-bottom: 2rem;
    }
  }
}
