@import "./styles/color.scss";
@import "./styles/font.scss";

* {
  font-family: $font-stack;
}
.App {
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
}

html {
  background-color: $light-cyan;
}
